* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;

  &.open {
    font-family: "Open Sans", sans-serif;
  }

  &.public {
    font-family: "Public Sans", sans-serif;
  }

  &.roboto {
    font-family: "Roboto", sans-serif;
  }

  &.source {
    font-family: "Source Sans 3", sans-serif;
  }
}

.page {
  min-height: 100vh;

  .content-aria {
    // width: calc(100% - 250px);
    min-height: 100vh;
    transition: width 0.3s;
    float: right;
    background-color: #f2f1f6;

    @media (min-width: 578px) {
      width: calc(100% - 250px);
    }

    &.no-sidebar {
      width: 100%;
    }
  }

  .page-head {
    margin-top: 1.25rem;
    padding: 1.25rem;

    .page-title {
      font-weight: bold;
      color: #27ae60;
    }

    // .page-description {}
  }
}
