.settings-box
  .toggle-settings
    i.fa.fa-gear.fa-lg
  .settings-content.text-center
    .option-box.color-options
      h4.option-title Color Options
      - const themes = ["green-theme", "blue-theme", "red-theme", "orange-theme", "purple-theme"]
      ul.list-unstyled
        each theme in themes
          li(data-theme=theme)
    .option-box.font-options
      h4.option-title Font Options
      - const fonts = ["open", "public", "roboto", "source"]
      select(class="form-select", aria-label="Default select example")
        each font in fonts
          option(value=font)=font + ' Font'
    .option-box
      h4.option-title Sidebar Options
