.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.toggle-notifications(data-bs-toggle='dropdown' aria-expanded='false')
    ul.dropdown-menu
      .noti-head
        | Notifications 
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa.fa-envelope.fa-lg
            | You Got Email From bla bla bla
          li
            i.fa.fa-money-bill.fa-lg
            | You Got Money From bla bla bla
          li
            i.fa.fa-thumbs-up.fa-lg
            | You Got Like From bla bla bla
          li
            i.fa.fa-envelope.fa-lg
            | You Got Email From bla bla bla
      .noti-footer.text-center: a(href="#") View All Notifications
