.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.header-icon.toggle-notifications(data-bs-toggle='dropdown' aria-expanded='false')
    ul.dropdown-menu
      .noti-head
        | Notifications 
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa.fa-envelope.fa-lg
            | You Got Email From bla bla bla
          li
            i.fa.fa-money-bill.fa-lg
            | You Got Money From bla bla bla
          li
            i.fa.fa-thumbs-up.fa-lg
            | You Got Like From bla bla bla
          li
            i.fa.fa-envelope.fa-lg
            | You Got Email From bla bla bla
      .noti-footer.text-center: a(href="#") View All Notifications
  i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username(data-bs-toggle='dropdown' aria-expanded='false')
      img.avatar.rounded-circle(src="./imgs/me.jpeg", alt="user avatar")
      div
        span.user Billal Benz
        .fa.fa-angle-down.fa-lg
    .dropdown-menu
      .user-info
        h3 Billal Benzazoua
        p Premium Member
      ul.activities-list.list-unstyled
        li Added Comment On Post "How To Make bla bla bla"
        li Created Post on Category "Science"
        li Created Chart on Charts Page
        li Added Comment On Post "How To Make bla bla bla"
      .row.usermenu-links
        .col
          .link-box
            i.fa.fa-gear.fa-lg.fa-w
            span Settings
        .col
          .link-box
            i.fa.fa-user.fa-lg.fa-w
            span My Profile
        .col
          .link-box
            i.fa.fa-power-off.fa-lg.fa-w
            span Logout
