.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.toggle-notifications(data-bs-toggle='dropdown' aria-expanded='false')
    ul.dropdown-menu
      | Notifications
