.sidebar
  .logo-area.text-center Billal
  ul.links-area.list-unstyled
    li: a(href="#") Homepage
    li
      a(href="#") Forms
      ul.child-links.list-unstyled
        li: a(href="#") Input
        li: a(href="#") Textarea
        li: a(href="#") Checkbox
        li: a(href="#") Radio